<div class="smart-filter">

    <div class="intention">
        <mat-radio-group [(ngModel)]="intention">
            <mat-radio-button [checked]="true" value="everything">Just Looking</mat-radio-button>
            <mat-radio-button value="jobs">Interested in Jobs</mat-radio-button>
            <mat-radio-button value="internships">Interested in Internships</mat-radio-button>
        </mat-radio-group>

        {{intention}}
    </div>

    <div class="technologies">
        <div class="tech">
            <mat-checkbox class="example-margin" [(ngModel)]="any">Any</mat-checkbox> <br>
        </div>

        <div class="tech">

            <mat-checkbox class="example-margin" [(ngModel)]="fe" [disabled]="any">Front End</mat-checkbox>
            <div class="specific-tech" *ngIf="fe">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Select Tech
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-chip-list>
                            <mat-chip>Angular</mat-chip>
                            <mat-chip>React</mat-chip>
                            <mat-chip color="primary" selected>Vue</mat-chip>
                            <mat-chip color="accent" selected>jQuery</mat-chip>
                        </mat-chip-list>
                    </mat-expansion-panel>
                </mat-accordion>

                {{fe}}
            </div>
        </div>
        <div class="tech">
            <mat-checkbox class="example-margin" [(ngModel)]="be" [disabled]="any">Back End</mat-checkbox>
            <div class="specific-tech" *ngIf="be">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Select Tech
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-chip-list>
                            <mat-chip>Ruby</mat-chip>
                            <mat-chip>Java</mat-chip>
                            <mat-chip color="primary" selected>Python</mat-chip>
                            <mat-chip color="accent" selected>C#</mat-chip>
                        </mat-chip-list>
                    </mat-expansion-panel>
                </mat-accordion>

                {{be}}
            </div>
        </div>



        <div class="tech">
            <mat-checkbox class="example-margin" [(ngModel)]="testing" [disabled]="any">Testing</mat-checkbox>
            <div class="specific-tech" *ngIf="testing">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Select Tech
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-chip-list>
                            <mat-chip>Automated</mat-chip>
                            <mat-chip>Manual</mat-chip>
                        </mat-chip-list>
                    </mat-expansion-panel>
                </mat-accordion>

                {{testing}}
            </div>
        </div>



        <div class="tech">
            <mat-checkbox class="example-margin" [(ngModel)]="mobile" [disabled]="any">Mobile</mat-checkbox>
            <div class="specific-tech" *ngIf="mobile">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Select Tech
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-chip-list>
                            <mat-chip>iOS</mat-chip>
                            <mat-chip>Android</mat-chip>
                            <mat-chip color="primary" selected>React Native</mat-chip>
                            <mat-chip color="accent" selected>Native Script</mat-chip>
                        </mat-chip-list>
                    </mat-expansion-panel>
                </mat-accordion>

                {{mobile}}
            </div>
        </div>


        <div class="tech">
            <mat-checkbox class="example-margin" [(ngModel)]="fs" [disabled]="any">Full Stack</mat-checkbox>
            <div class="specific-tech" *ngIf="fs">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Select Tech
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-chip-list>
                            <mat-chip>MERN</mat-chip>
                            <mat-chip>MEAN</mat-chip>
                            <mat-chip color="primary" selected>LAMP</mat-chip>
                            <mat-chip color="accent" selected>Java + Spring</mat-chip>
                        </mat-chip-list>
                    </mat-expansion-panel>
                </mat-accordion>

                {{fs}}
            </div>
        </div>


        <div class="tech">
            <mat-checkbox class="example-margin" [(ngModel)]="do" [disabled]="any">Dev Ops</mat-checkbox>
            <div class="specific-tech" *ngIf="do">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Select Tech
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-chip-list>
                            <mat-chip>Jenkins</mat-chip>
                            <mat-chip>Solar Wind</mat-chip>
                            <mat-chip color="primary" selected>Docker</mat-chip>
                        </mat-chip-list>
                    </mat-expansion-panel>
                </mat-accordion>

                {{do}}
            </div>
        </div>

    </div>

    <button class="apply" (click)="applyFilter()"> Apply filter </button>

</div>
