<div class="about-page">
    <div class="illustration">
        <img src="../../../../assets/images/illustration.png" alt="Guy Working">
    </div>
    <div class="the-app">
        This app was made to help students find and get to know the IT firms that exist in Macedonia. <br> <br>
        It's goal is to help you quickly find information about a ceratain company, and to inform you as fast as it can
        a by providing visual indicators about certains characteristics comapnies have. <br> <br>
        The idea came from a problem I personally had when looking for an internship. First I needed to find out which
        companies exist, and there wasn't an unified source of information that I can quickly look through and get
        usefull information about the
        companies. Instead I had to spend 15 minutes per company, to find it's name from a facebook post or linked in,
        and then go to their website and spend the rest of the time there. Still having only small information about
        the company itself, because the websites are targeted at the customers. <br> <br>

        Before that I only knew about the ones that were sponsored the most, and even then you still didn't know how
        was it like
        working with them or the benefits they provide, and you would need to spend lots of time to find out
        information about them, not to even mention that they reply in matter of days, some even weeks... <br> <br>
        Also this app will help you find a job or internship quite fast and easily.

        If you have any ideas or remarks, feel free to contact me and give suggestions about a feature you'd like to
        have. <br> <br>
        If you are a company and you would like to be included in the list, feel free to contact me and we'll schedule
        an appointment where you can tell me about the company and give me the inforamtion I need to include it.
    </div>
</div>
