.example-card {
    display: inline-block;
    max-width: 26vw;
    min-width: 300px;
    border: 1px solid black;
    margin: 1%;
    transition: 0.2s ease-out;

    .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}

.example-card:hover{
    transform: rotate(-1deg) scale(1.01);
    transition: 0.3s ease-out;
}
