.main-menu{
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 3;
    button{
        border: none;
        width: 110px;
        height: 65px;
        color: wheat;
        font-size: 15px;
        font-weight: 300;
        padding: 5px;
        outline: none;
        background-color: rgb(58, 95, 110);
        &:hover{
            cursor: pointer;
            background-color: rgb(72, 113, 129);
        }

        @media screen and (max-width: 474px) {
            width: 100%;
        }
    }
}
span{
    margin: 0 auto;
    width: auto;
    display: block;
    border: 1px solid red;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden
}
