<mat-accordion>
    <mat-expansion-panel class="example-compact" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="blackBorder">
            <mat-panel-title>

                <div class="logo"></div>
                <p><strong> Shiba Inu </strong> </p>

            </mat-panel-title>
            <mat-panel-description class="padding-top">
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <img class='bg-image' src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </div>
    </mat-expansion-panel>
</mat-accordion>
